#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; /* Ensure items do not wrap */
}

.logo {
  font-size: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.water {
  color: #1e90ff; /* Shade of blue for ocean */
}

.logo.fire {
  color: #ff4500; /* Fiery red/orange for fire */
}

.logo.tree {
  color: #228b22; /* Forest green for tree */
}

.logo.cloud {
  color: #9370db; /* Space purple for cloud */
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}